.container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased !important;
  color: #222;
  margin: auto;
  width: 400px;
}

.footer {
  margin: 50px 10px 0 10px;
  padding: 10px;
  border-top: #ddd solid 1px;
}

h1 {
  font-size: 36px;
  text-align: center;
}

p, a {
  font-size: 14px;
  text-align: center;
  display: block;
}

.react-scrollable-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 300px;
  width: 400px;
  overflow-y: scroll;
  border: #ddd solid 1px;
}

.react-scrollable-list-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
  padding: 5px;
  background-color: #f2f2f2;
  border-bottom: #ddd solid 1px;
  pointer-events: none;
}
